@font-face {
  font-family: "-bahnsr";
  src: url("/homepage/fonts/bahnsr.ttf") format("truetype");
}
@keyframes slide-in {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
  }
}
